body {
    text-align: center;
    background-color: lightskyblue;
}
#mylabel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5em;

}

#myinput {
    margin-top: 2em;
    padding: 10px 10px;
    border-radius: 1px 10px;
    border: none;
    background-color: wheat;
}

#mysubmit {
    border-radius: 10px 10px 2px;
    border: none;
    padding: 10px 10px;
    background-color: wheat;
    transition: background-color 2s;
}

#mysubmit:hover {
    background-color: rgba(160,200,90, 67%);
}

#resultelements {
    font-size: 2em;
}

#myPhoto {
    display: none;
    margin-left: 25%;
    width: 50vw;
}
